.seatpickeritem {
  text-align: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-weight: 700;
}
.seatpickeritem:hover {
  background-color: lightgray;
  cursor: pointer;
}

.seatpickeritem__booked {
  text-align: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: rgb(245, 106, 106);
  color: white;
  font-weight: 700;
}

.seatpickeritem__selected {
  text-align: center;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: rgb(83, 83, 216);
  color: white;
  font-weight: 700;
}
.seatpickeritem__selected:hover {
  background-color: rgb(92, 92, 238);
  cursor: pointer;
}

.sseatpickeritem__disabled {
  background-color: white;
  width: 50px;
  height: 50px;
}
